


.jumbotron {
    padding-top: 6rem; 
    
    position: relative;
    background: url(Image/Selesai.png )  no-repeat center center;
    background-image :-webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Image/Selesai.png);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    color: #fff;
}

.image1 {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      background-size: cover;
      background-position: center;
}

h1.judul {font-family:Arial, Helvetica, sans-serif;
    color: #fff;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;

}

.circle {
 border-radius: 50%;
 height: 180px;
 width: 210px;
 object-fit: cover;
 object-position: center;
}

.img-thumbnail2{padding:.25rem;
    background-color:#dee2e6;
    border:3px solid #000000;
   }

   /* .container-me {max-width: fit-content;

    
   } */

   #gallery {background-color: #808080
    ;}

    .garistepi {text-shadow:
    0.5px 0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000;

    }

    .wrap{
display:flex;
}
.wrap-container{
border:3px solid black;
}

.wrap-container2{
border:6px solid #808080;
}



/* Add some padding inside the card container */
.container22 {
  padding: 2px 16px;
}


section {
  padding-top: 5rem;
}

